{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class='ContentContainer'>
        <h1>Register for an account</h1><br>
        {{ form_start(form, {'attr': {'id': 'registerForm'}}) }}

            {{ form_errors(form.family_name)}} 
            {{ form_label(form.family_name) }} <br>
            {{ form_widget(form.family_name, {'attr': {'onChange': "register.checkFamilyName('registerForm')"}}) }}
            <br> 
            <div id="familyCheck"></div>
            <br>

            {{ form_errors(form.name )}}
            {{ form_label(form.name) }} <br>
            {{ form_widget(form.name)}} <br>
 
            {{ form_errors(form.email )}} <br>
            {{ form_label(form.email) }} <br>
            {{ form_widget(form.email)}} <br>


            {{ form_errors(form.password )}} <br>
            {{ form_label(form.password) }} <br>
            {{ form_widget(form.password)}} <br>

            {{ form_errors(form.phone )}}<br>
            {{ form_label(form.phone) }} <br>
            {{ form_widget(form.phone)}} <br>

            <br>

            <div>
                {{ captchaError }}
            </div>
            <!-- Captcha by reCaptcha. -->
            <div class="g-recaptcha" data-sitekey="6LeN-CcTAAAAANhDoQzRDwDhIZRnyB_NWKzTDWXt"></div>
            <br>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/register.js'></script>
{% endblock javascripts %}

 
